@font-face {
  font-family: 'Segoe UI';
  src: url("../assets/fonts/segoeui/segoeui.woff") format("woff"), url("../assets/fonts/segoeui/segoeui.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Segoe UI';
  src: url("../assets/fonts/segoeui/segoeuibold.woff") format("woff"), url("../assets/fonts/segoeui/segoeuibold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

/* Eric Meyer's CSS reset */
/* http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.hidden {
  display: none; }

html {
  font: normal 14px/1.5 "Segoe UI", Helvetica, Arial, sans-serif;
  color: #767676;
  background-color: #FFFFFF; }

body {
  line-height: inherit; }

a {
  color: #4078C0;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

input, button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

svg {
  fill: currentColor; }

.dropdown {
  display: inline-block; }

.dropdown-content {
  display: none;
  z-index: 1; }

.dropdown:hover .dropdown-content {
  display: block; }

.hide {
  display: none; }

.show {
  display: block; }

.main-nav, footer {
  width: 980px;
  margin: 0 auto; }

.main-container {
  width: 988px;
  margin: 0 auto;
  margin-top: 24px; }

.intro {
  float: left;
  width: 230px;
  padding-right: 17px; }

.main-container:after {
  content: "";
  display: block;
  clear: both; }

.content-nav, .overview {
  margin-left: 247px; }

.main-header {
  padding: 10px 0;
  background-color: #F5F5F5;
  border-bottom: 1px solid #E5E5E5; }

.main-nav {
  position: relative; }

.main-nav li {
  display: inline-block; }

.main-nav > ul li:first-child {
  vertical-align: bottom; }

header .home-logo {
  display: block;
  width: 28px;
  height: 28px;
  margin: 0 10px 0 -2px; }

.main-nav form {
  width: 360px;
  height: 28px;
  margin-right: 10px; }

.main-nav input {
  width: 100%;
  height: 100%;
  padding: 0 10px 2px 8px;
  font-size: 0.92857rem;
  color: #333;
  border: 1px solid #DDD;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  box-sizing: border-box; }

.main-nav input:focus {
  outline: none;
  border-color: #51A7E8;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px rgba(81, 167, 232, 0.5); }

.main-nav input::-webkit-input-placeholder {
  color: #CBCBCB; }

.main-nav input:-moz-placeholder {
  /* Firefox 18- */
  color: #CBCBCB; }

.main-nav input::-moz-placeholder {
  /* Firefox 19+ */
  color: #CBCBCB; }

.main-nav input:-ms-input-placeholder {
  color: #CBCBCB; }

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0; }

input[type="search"]::-webkit-search-cancel-button {
  display: none; }

.text-link {
  vertical-align: text-top; }

.text-link a {
  padding: 4px 8px;
  font-size: 0.92857rem;
  font-weight: 600; }

.main-nav > ul a {
  color: #333; }

.main-nav > ul a:hover {
  color: #4078C0;
  text-decoration: none; }

.main-nav > ul {
  display: inline-block; }

.main-nav .dropdown {
  float: right;
  /* Pas de clear fix, doit rester hors du flux */
  margin-right: -8px;
  vertical-align: bottom; }

.main-nav .dropdown > a {
  float: right;
  display: block;
  padding: 4px 8px; }

.main-nav .dropdown:after {
  content: "";
  display: block;
  clear: both; }

.main-nav .dropdown > a img {
  float: left;
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 3px;
  vertical-align: top; }

.main-nav .dropdown > a:after {
  content: "";
  display: block;
  clear: both; }

.main-nav .dropdown > a:before {
  display: inline-block;
  width: 0;
  height: 0;
  content: "";
  margin-left: 5px;
  border: 4px solid #333;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent; }

.main-nav .dropdown:hover > a:before {
  border-color: #4078C0;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent; }

.main-nav .dropdown-content {
  width: 178px;
  position: relative;
  margin-top: 41px;
  padding: 5px 0;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15); }

.main-nav .dropdown-content:before {
  display: inline-block;
  width: 0;
  height: 0;
  content: "";
  position: absolute;
  top: -16px;
  right: 9px;
  border: 8px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.15); }

.main-nav .dropdown-content:after {
  display: inline-block;
  width: 0;
  height: 0;
  content: "";
  position: absolute;
  top: -14px;
  right: 10px;
  border: 7px solid transparent;
  border-bottom-color: #FFFFFF; }

.main-nav .dropdown-content li:first-child {
  padding: 4px 15px; }

.main-nav .dropdown-content li:first-child:after {
  display: block;
  width: 176px;
  height: 1px;
  content: "";
  margin: 8px 1px 4px -14px;
  background-color: #E5E5E5; }

.main-nav .dropdown-content b {
  display: block;
  font-weight: 600; }

.main-nav .dropdown-content li {
  display: block; }

.main-nav .dropdown-content a {
  display: block;
  padding: 4px 10px 4px 15px;
  color: #333;
  text-decoration: none; }

.main-nav .dropdown-content a:hover {
  color: #FFFFFF;
  background-color: #4078C0; }

.intro header img {
  border-radius: 6px; }

footer {
  position: relative;
  margin-top: 40px;
  padding: 37px 0;
  font-size: 0.85714rem;
  line-height: 1.3;
  border-top: 1px solid #EEE; }

footer p {
  position: absolute;
  top: 40px;
  left: 0; }

footer .home-logo {
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 auto;
  color: #CCCCCC; }

footer .home-logo:hover {
  color: #BBBBBB; }

footer a:last-child {
  position: absolute;
  top: 40px;
  right: 0; }

/*# sourceMappingURL=styles.css.map */