// Generic CSS
@import "generic/meyer-reset";

// Settings Variables
@import "settings/paths";
@import "settings/fonts";
@import "settings/colors";
@import "settings/mixins";

/* Utils */
.hidden {
    display: none;
}

/* Styles */
html {
    font: normal 14px/1.5 $segoeUIStack;
    color: $cLaborText;
    background-color: $cMainBackground;
}

body {
    line-height: inherit;
}

a {
    color: $cLink;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input, button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

svg {
    fill: currentColor;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.main-nav .dropdown:after,
.main-nav .dropdown > a:after,
.main-container:after {
    @include ClearFix;
}

.main-nav, footer {
    width: 980px;
    margin: 0 auto;
}

.main-header {
    padding: 10px 0;
    background-color: $cHeaderBackground;
    border-bottom: 1px solid $cHeaderBorder;
}

.main-nav {
    position: relative;
}

.main-nav li {
    display: inline-block;
}

.main-nav form {
    width: 360px;
    height: 28px;
    margin-right: 10px;
}

.main-nav input {
    width: 100%;
    height: 100%;
    padding: 0 10px 2px 8px;
    font-size: 0.92857rem;
    color: $cTitleText;
    border: 1px solid $cHeaderSearchBorder;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px $cHeaderSearchShadow;
    box-sizing: border-box;
}

.main-nav input:focus {
    outline: none;
    border-color: $cHeaderSearchBorderFocus;
    box-shadow: inset 0 1px 2px $cHeaderSearchShadow,
                0 0 5px $cHeaderSearchShadowFocus;
}

.main-nav input::-webkit-input-placeholder {
   color: $cHeaderSearchPlaceHolder;
}

.main-nav input:-moz-placeholder { /* Firefox 18- */
   color: $cHeaderSearchPlaceHolder;
}

.main-nav input::-moz-placeholder {  /* Firefox 19+ */
   color: $cHeaderSearchPlaceHolder;
}

.main-nav input:-ms-input-placeholder {
   color: $cHeaderSearchPlaceHolder;
}

input[type=text]::-ms-clear {
    display: none;
    width : 0;
    height: 0;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

.main-nav > ul li:first-child {
    vertical-align: bottom;
}

.text-link {
    vertical-align: text-top;
}

.text-link a {
    padding: 4px 8px;
    font-size: 0.92857rem;
    font-weight: 600;
}

header .home-logo {
    display: block;
    width: 28px;
    height: 28px;
    margin: 0 10px 0 -2px;
}

.main-nav > ul a {
    color: $cTitleText;
}

.main-nav > ul a:hover {
    color: $cLink;
    text-decoration: none;
}

.main-nav > ul {
    display: inline-block;
}

.main-nav .dropdown {
    float: right;
    margin-right: -8px;
    vertical-align: bottom;
}

.main-nav .dropdown > a {
    float: right;
    display: block;
    padding: 4px 8px;
}

.main-nav .dropdown > a img {
    float: left;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 3px;
    vertical-align: top;
}

.main-nav .dropdown > a:before {
    display: inline-block;
    width: 0;
    height: 0;
    content: "";
    margin-left: 5px;
    border: 4px solid $cTitleText;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.main-nav .dropdown:hover > a:before {
    border-color: $cLink;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.main-nav .dropdown-content {
    width: 178px;
    position: relative;
    margin-top: 41px;
    padding: 5px 0;
    background-color: $cMainBackground;
    border: 1px solid $cHeaderDropDownBorder;
    border-radius: 4px;
    box-shadow: 0 3px 12px $cHeaderDropDownBorder;
}

.main-nav .dropdown-content:before {
    display: inline-block;
    width: 0;
    height: 0;
    content: "";
    position: absolute;
    top: -16px;
    right: 9px;
    border: 8px solid transparent;
    border-bottom-color: $cHeaderDropDownBorder;
}

.main-nav .dropdown-content:after {
    display: inline-block;
    width: 0;
    height: 0;
    content: "";
    position: absolute;
    top: -14px;
    right: 10px;
    border: 7px solid transparent;
    border-bottom-color: $cMainBackground;
}

.main-nav .dropdown-content li:first-child {
    padding: 4px 15px;
}

.main-nav .dropdown-content li:first-child:after {
    display: block;
    width: 176px;
    height: 1px;
    content: "";
    margin: 8px 1px 4px -14px;
    background-color: $cHeaderBorder;
}

.main-nav .dropdown-content b {
    display: block;
    font-weight: 600;
}

.main-nav .dropdown-content li {
    display: block;
}

.main-nav .dropdown-content a {
    display: block;
    padding: 4px 10px 4px 15px;
    color: $cTitleText;
    text-decoration: none;
}

.main-nav .dropdown-content a:hover {
    color: $cMainBackground;
    background-color: $cLink;
}

.main-container {
    width: 988px;
    margin: 0 auto;
    margin-top: 24px;
}

.intro {
    float: left;
    width: 230px;
    padding-right: 17px;
}

.intro header img {
    border-radius: 6px;
}

.content-nav, .overview {
    float: right;
    width: 741px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

footer {
    position: relative;
    margin-top: 40px;
    padding: 37px 0;
    font-size: 0.85714rem;
    line-height: 1.3;
    border-top: 1px solid $cDecorativeLines;
}

footer p {
    position: absolute;
    top: 40px;
    left: 0;
}

footer .home-logo {
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 auto;
    color: $cFooterHomeLink;
}

footer .home-logo:hover {
    color: $cFooterHomeLinkHover;
}

footer a:last-child {
    position: absolute;
    top: 40px;
    right: 0;
}
