// Styles base elements

html {
    font: normal 14px/1.5 $segoeUIStack;
    color: $cLaborText;
    background-color: $cMainBackground;
}

body {
    line-height: inherit;
}

h2, h3 {
    margin-bottom: 8px;
    font-size: 1.14286em;
    color: $cTitleText;
}

a {
    color: $cLink;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

svg {
    fill: currentColor;
}

abbr {
    text-decoration: none;
}

input, button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

input[type="search"]::-ms-clear {
    display: none;
    width : 0;
    height: 0;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

.button {
    color: $cTitleText;
    background-color: $cDecorativeLines;
    background-image: $gradIntroButtonBackground;
    border: 1px solid $cIntroButtonBorder;
    border-radius: 3px;
    &:hover {
            background-color: $cIntroButtonHoverBackground;
            background-image: $gradIntroButtonHoverBackground;
            border-color: $cIntroButtonHoverBorder;
    }
    &:focus {
            outline: none;
            box-shadow: 0 0 0 0.2em $cHeaderSearchShadowFocus;
    }
    &:active {
            background-color: $cIntroButtonActiveBackground;
            background-image: none;
            border-color: $cIntroButtonHoverBorder;
            box-shadow: inset 0 .15em .3em $cIntroButtonActiveShadow;
    }
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown > a {
    display: block;
    &:after {
        display: inline-block;
        width: 0;
        height: 0;
        content: "";
    }
}

.dropdown-content {
    position: absolute;
    top: -99999px;
    right: 0;
    padding: 5px 0;
    background-color: $cMainBackground;
    border: 1px solid $cHeaderDropDownBorder;
    border-radius: 4px;
    box-shadow: 0 3px 12px $cHeaderDropDownBorder;
    z-index: 1;
    &:before {
        width: 0;
        height: 0;
        content: "";
        position: absolute;
        top: -16px;
        right: 9px;
        border: 8px solid transparent;
        border-bottom-color: $cHeaderDropDownBorder;
    }
    &:after {
        width: 0;
        height: 0;
        content: "";
        position: absolute;
        top: -14px;
        right: 10px;
        border: 7px solid transparent;
        border-bottom-color: $cMainBackground;
    }
}

.dropdown:hover .dropdown-content, .dropdown a:focus + .dropdown-content {
    top: 0;
}

.dropdown .dropdown-content a {
    display: block;
    padding: 4px 10px 4px 15px;
    color: $cTitleText;
    text-decoration: none;
    &:hover {
        color: $cMainBackground;
        background-color: $cLink;
    }
}

.sticky {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: $cMainBackground;
    z-index: 2;
}
