// Styles base elements

html {
    font: normal 14px/1.5 $segoeUIStack;
    color: $cLaborText;
    background-color: $cMainBackground;
}

body {
    line-height: inherit;
}

a {
    color: $cLink;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

input, button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

svg {
    fill: currentColor;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    position: absolute;
    top: -99999px;
    right: 0;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    position: absolute;
    top: 0;
}
