// Structure elements

.main-nav, footer {
    width: $headerFooterSize;
    margin: 0 auto;
}

.main-container {
    width: $mainSize;
    margin: 0 auto;
    margin-top: 24px;
    &:after {
        @include ClearFix;
    }
}

.intro {
    float: left;
    width: $introSize;
    padding-right: $introLeftSpacingSize;
}

.content-nav, .overview {
    margin-left: $introSize + $introLeftSpacingSize;
}
