// Structure elements

.main-nav, footer {
    width: $headerFooterSize;
    margin: 0 auto;
}

.main-container {
    width: $mainSize;
    margin: 0 auto;
    margin-top: 24px;
    @include clearFix;
}

.intro {
    float: left;
    width: $introSize;
    margin-right: $introRightSpacingSize;
}

.content-nav, .overview, .timeline, .projects, .followers {
    margin-left: $introSize + $introRightSpacingSize;
}

.overview article, .followers {
    margin-bottom: 24px;
}

.timeline, .projects {
    margin-bottom: 48px;
}
