// Content nav specific styles

.content-nav {
    margin-bottom: 24px;
    border-bottom: 1px solid $cHeaderSearchBorder;
}

.content-nav li {
    display: inline-block;
}

.content-nav a {
    display: block;
    padding: 19px 20px 20px 20px;
    color: $cLaborText;
    &:hover {
        text-decoration: none;
        color: $cTitleText;
    }
}

.content-nav a span {
    margin-left: .3em;
    padding: 0 5px;
    font-size: .85714em;
    font-weight: 600;
    background-color: $cContentNavCountBackground;
    border-radius: 20px;
}

.content-nav a:hover span {
    color: $cLaborText;
}

.content-nav .selected a {
    color: $cTitleText;
    border-bottom: 2px solid $cContentNavSelectedBorder;
}

// .overview, .timeline, .projects, .followers, .following {
//     overflow: hidden;
//     height: 0;
// }
//
// .overview:target, .timeline:target, .projects:target, .followers:target, .following:target {
//     height: auto;
// }
