// Followers specific styles

.followers h2 {
    margin: 0;
    padding-bottom: .57143rem;
    border-bottom: 1px solid $cHeaderSearchBorder;
}

.avatar {
    padding: 1.71429rem 0;
    border-bottom: 1px solid $cHeaderSearchBorder;
    font-size: .85714em;
    @include clearFix;
    overflow: hidden;
}

 .avatar img {
     float: left;
     margin-right: .71429rem;
     border-radius: 3px;
     @include setSpriteBase( "#{ $imgPath }sprite-followers.png" );
 }

.avatar:nth-child(1) img {
    @include setSprite( 50px, 50px );
}

.avatar:nth-child(2) img {
    @include setSprite( 50px, 50px, 1, 2 );  // width, height, line, colmn
}

.avatar:nth-child(3) img {
    @include setSprite( 50px, 50px, 1, 3 );
}

.avatar:nth-child(4) img {
    @include setSprite( 50px, 50px, 1, 4 );
}

.avatar:nth-child(5) img {
    @include setSprite( 50px, 50px, 1, 5 );
}

.avatar:nth-child(6) img {
    @include setSprite( 50px, 50px, 1, 6 );
}

.avatar p, .avatar ol {
    margin-left: 4.28571rem;
}

.avatar-name {
    margin-bottom: .28571rem;
    font-size: 1.33333em;
    color: $cTitleText;
}

.avatar-alternate-name {
    padding-left: .28571rem;
    font-size: .875em;
    color: $cLaborText;
}

.avatar-description {
    margin-bottom: .71429rem;
}

.avatar-info li {
    display: inline-block;
    margin: .2rem 0;
}

.avatar-info li:not( :last-child ) {
    margin-right: 1.14286rem;
}

.avatar-info li svg {
    vertical-align: text-bottom;
}

@media screen and (max-width: $sFirstReduce) and (min-width: $sIntroSecondReduce) {
    // .tabs-layout is only on main container if we are in tabs nav layout, in one page layout the margin top is only required on first section (overview)
    .tabs-layout .followers {
        margin-top: (1.71429rem - 13.05714rem);
    }
}

@media screen and (max-width: $sIntroSecondReduce) {
    .tabs-layout .followers {
        margin-top: 3.71429rem;
    }
}
