// Header specific styles

.main-header {
    padding: 10px 0;
    background-color: $cHeaderBackground;
    border-bottom: 1px solid $cHeaderBorder;
}

.main-nav li {
    display: inline-block;
}

.main-nav > ul li:first-child {
    vertical-align: bottom;
}

header .home-logo {
    display: block;
    width: 28px;
    height: 28px;
    margin: 0 10px 0 -2px;
}

.main-nav form {
    width: 360px;
    height: 28px;
    margin-right: 10px;
}

.main-nav input {
    width: 100%;
    height: 100%;
    padding: 0 10px 2px 8px;
    font-size: 0.92857rem;
    color: $cTitleText;
    border: 1px solid $cHeaderSearchBorder;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px $cHeaderSearchShadow;
    box-sizing: border-box;
}

.main-nav input:focus {
    outline: none;
    border-color: $cHeaderSearchBorderFocus;
    box-shadow: inset 0 1px 2px $cHeaderSearchShadow,
                0 0 5px $cHeaderSearchShadowFocus;
}

.main-nav input::-webkit-input-placeholder {
   color: $cHeaderSearchPlaceHolder;
}

.main-nav input:-moz-placeholder { /* Firefox 18- */
   color: $cHeaderSearchPlaceHolder;
}

.main-nav input::-moz-placeholder {  /* Firefox 19+ */
   color: $cHeaderSearchPlaceHolder;
}

.main-nav input:-ms-input-placeholder {
   color: $cHeaderSearchPlaceHolder;
}

input[type=text]::-ms-clear {
    display: none;
    width : 0;
    height: 0;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

.text-link {
    vertical-align: text-top;
}

.text-link a {
    padding: 4px 8px;
    font-size: 0.92857rem;
    font-weight: 600;
}

.main-nav > ul a {
    color: $cTitleText;
}

.main-nav > ul a:hover {
    color: $cLink;
    text-decoration: none;
}

.main-nav > ul {
    display: inline-block;
}

.main-nav .dropdown {
    float: right;            /* Pas de clear fix, doit rester hors du flux */
    margin-right: -8px;
    vertical-align: bottom;
}

.main-nav .dropdown > a {
    float: right;
    display: block;
    padding: 4px 8px;
}

.main-nav .dropdown:after {
    @include ClearFix;
}

.main-nav .dropdown > a img {
    float: left;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 3px;
    vertical-align: top;
}

.main-nav .dropdown > a:after {
    @include ClearFix;
}

.main-nav .dropdown > a:before {
    display: inline-block;
    width: 0;
    height: 0;
    content: "";
    margin-left: 5px;
    border: 4px solid $cTitleText;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.main-nav .dropdown:hover > a:before {
    border-color: $cLink;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.main-nav .dropdown-content {
    width: 178px;
    position: relative;
    margin-top: 41px;
    padding: 5px 0;
    background-color: $cMainBackground;
    border: 1px solid $cHeaderDropDownBorder;
    border-radius: 4px;
    box-shadow: 0 3px 12px $cHeaderDropDownBorder;
}

.main-nav .dropdown-content:before {
    display: inline-block;
    width: 0;
    height: 0;
    content: "";
    position: absolute;
    top: -16px;
    right: 9px;
    border: 8px solid transparent;
    border-bottom-color: $cHeaderDropDownBorder;
}

.main-nav .dropdown-content:after {
    display: inline-block;
    width: 0;
    height: 0;
    content: "";
    position: absolute;
    top: -14px;
    right: 10px;
    border: 7px solid transparent;
    border-bottom-color: $cMainBackground;
}

.main-nav .dropdown-content li:first-child {
    padding: 4px 15px;
}

.main-nav .dropdown-content li:first-child:after {
    display: block;
    width: 176px;
    height: 1px;
    content: "";
    margin: 8px 1px 4px -14px;
    background-color: $cHeaderBorder;
}

.main-nav .dropdown-content b {
    display: block;
    font-weight: 600;
}

.main-nav .dropdown-content li {
    display: block;
}

.main-nav .dropdown-content a {
    display: block;
    padding: 4px 10px 4px 15px;
    color: $cTitleText;
    text-decoration: none;
}

.main-nav .dropdown-content a:hover {
    color: $cMainBackground;
    background-color: $cLink;
}
