// Header specific styles

.main-header {
    padding: 12px 0 8px;
    background-color: $cHeaderBackground;
}

.main-nav a {
    display: block;
    color: $cHeaderLink;
    &:hover {
        color: $cMainBackground;
        text-decoration: none;
    }
}

header .home-logo {
    display: inline-block;
    margin: -1px 15px -1px -2px;
    color: $cMainBackground;
    vertical-align: top;
    &:hover {
        color: $cHeaderLink;
    }
}

.main-nav form {
    display: inline-block;
    width: 300px;
    height: 30px;
    margin-right: 8px;
    font-size: .92857em; // (1/14)*13px
    vertical-align: top;
}

.main-nav input {
    width: 100%;
    height: 100%;
    padding: 0 10px 0 8px;
    color: $cMainBackground;
    background-color: $cHeaderSearchBackground;
    border: 0;
    border-radius: 3px;
    box-sizing: border-box;
    &:focus {
        outline: none;
        background-color: $cHeaderSearchBackgroundFocus;
    }
}

.main-nav input::-webkit-input-placeholder {
   color: $cHeaderSearchPlaceHolder;
}

.main-nav input:-moz-placeholder { /* Firefox 18- */
   color: $cHeaderSearchPlaceHolder;
}

.main-nav input::-moz-placeholder {  /* Firefox 19+ */
   color: $cHeaderSearchPlaceHolder;
}

.main-nav input:-ms-input-placeholder {
   color: $cHeaderSearchPlaceHolder;
}

.main-nav input[type="search"]::-ms-clear {
    display: none;
    width : 0;
    height: 0;
}

.main-nav input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

.main-nav > ul {
    display: inline-block;
}

.main-nav > ul li {
    display: inline-block;
}

.main-nav > ul a {
    padding: 5px 8px;
    font-weight: 600;
}

.main-nav {
    @include clearFix;
}

.main-nav .dropdown {
    float: right;
    margin: 1px -8px 0 0;
    color: $cTitleText;
}

.main-nav .dropdown > a {
    display: block;
    padding: 4px 8px;
    &:after {
        display: inline-block;
        width: 0;
        height: 0;
        content: "";
        margin: 1px 0 0 5px;
        border: 4px solid $cHeaderLink;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}

.main-nav .dropdown > a img {
    display: inline-block;
    border-radius: 3px;
    vertical-align: top;
}

.main-nav .dropdown:hover > a {
    &:before {
        display: inline-block;
        position: absolute;
        right: 0;
        width: 150px;
        height: 50px;
        content: "";
    }
    &:after {
        border-color: $cMainBackground;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}

.main-nav .dropdown-content {
    width: 178px;
    margin-top: 38px;
    padding: 5px 0;
    background-color: $cMainBackground;
    border: 1px solid $cHeaderDropDownBorder;
    border-radius: 4px;
    box-shadow: 0 3px 12px $cHeaderDropDownBorder;
    &:before {
        display: inline-block;
        width: 0;
        height: 0;
        content: "";
        position: absolute;
        top: -16px;
        right: 9px;
        border: 8px solid transparent;
        border-bottom-color: $cHeaderDropDownBorder;
    }
    &:after {
        display: inline-block;
        width: 0;
        height: 0;
        content: "";
        position: absolute;
        top: -14px;
        right: 10px;
        border: 7px solid transparent;
        border-bottom-color: $cMainBackground;
    }
}

.main-nav .dropdown-content li:first-child {
    padding: 4px 15px;
    color: $cLaborText;
    &:after {
        display: block;
        width: 176px;
        height: 1px;
        content: "";
        margin: 8px 1px 4px -14px;
        background-color: $cHeaderBorder;
    }
}

.main-nav .dropdown-content b {
    display: block;
    font-weight: 600;
}

.main-nav .dropdown-content li {
    display: block;
}

.main-nav .dropdown-content a {
    display: block;
    padding: 4px 10px 4px 15px;
    color: $cTitleText;
    text-decoration: none;
    &:hover {
        color: $cMainBackground;
        background-color: $cLink;
    }
}
