// Header specific styles

.main-header {
    padding: .85714rem 0 .57143rem;
    background-color: $cHeaderBackground;
}

.main-nav a {
    display: block;
    color: $cHeaderLink;
    &:hover {
        color: $cMainBackground;
        text-decoration: none;
    }
}

header .home-logo {
    display: inline-block;
    margin: -.07143rem 1.07142rem -.07143rem -.14286rem;
    color: $cMainBackground;
    vertical-align: top;
    &:hover {
        color: $cHeaderLink;
    }
}

.main-nav form {
    display: inline-block;
    width: 14.28571rem;
    height: 2.14286rem;
    margin-right: .57143rem;
    font-size: .92857em; // (1/14)*13px
    vertical-align: top;
}

.main-nav input {
    width: 100%;
    height: 100%;
    padding: 0 .71429rem 0 .57143rem;
    color: $cMainBackground;
    background-color: $cHeaderSearchBackground;
    border: 0;
    border-radius: 3px;
    &:focus {
        outline: none;
        background-color: $cHeaderSearchBackgroundFocus;
    }
}

.main-nav input::-webkit-input-placeholder {
   color: $cHeaderSearchPlaceHolder;
}

.main-nav input:-moz-placeholder { /* Firefox 18- */
   color: $cHeaderSearchPlaceHolder;
}

.main-nav input::-moz-placeholder {  /* Firefox 19+ */
   color: $cHeaderSearchPlaceHolder;
}

.main-nav input:-ms-input-placeholder {
   color: $cHeaderSearchPlaceHolder;
}

.main-nav > ul {
    display: inline-block;
}

.main-nav > ul li {
    display: inline-block;
}

.main-nav > ul a {
    padding: .35714rem .57143rem;
    font-weight: 600;
}

.main-nav a.active {
    color: $cMainBackground;
    &:before {
        display: inline-block;
        width: 0;
        height: 0;
        content: "";
        border: 5px solid transparent;
        border-left-color: $cMainBackground;
    }
}

.main-nav {
    @include clearFix;
}

.main-nav .dropdown {
    float: right;
    margin: .07143rem -.57143rem 0 0;
    color: $cTitleText;
}

.main-nav .dropdown > a {
    padding: .28571rem .57143rem;
    &:after {
        margin: .07143rem 0 0 .35714rem;
        border: 4px solid transparent;
        border-top-color: $cHeaderLink;
    }
}

.main-nav .dropdown > a img {
    display: inline-block;
    border-radius: 3px;
    vertical-align: top;
}

.main-nav .dropdown:hover > a, .main-nav .dropdown:focus > a {
    &:before {
        display: inline-block;
        position: absolute;
        right: 0;
        width: 10.71429rem;
        height: 3.57143rem;
        content: "";
    }
    &:after {
        border-top-color: $cMainBackground;
    }
}

.main-nav .dropdown-content {
    width: 12.71429rem;
    margin-top: 2.71429rem;
}

.main-nav .dropdown-content li:first-child {
    padding: .28571rem 1.07142rem;
    color: $cLaborText;
    &:after {
        display: block;
        width: 12.57143rem;
        height: .07143rem;
        content: "";
        margin: .57143rem .07143rem .28571rem -1rem;
        background-color: $cHeaderBorder;
    }
}

.main-nav .dropdown-content b {
    display: block;
    font-weight: 600;
}
