// Intro specific styles

.intro li, .intro header p, .intro strong, .intro b {
    display: block;
}

.intro header img {
    border-radius: 6px;
    vertical-align: middle;
}

.intro header img + p {
    padding: 16px 0;
}

.intro header strong {
    font-size: 1.857rem; // * 14 = 26px
    line-height: 1.153; // *26 = 30px
    font-weight: 600;
    color: $cTitleText;
}

.intro header b {
    font-size: 1.429rem; // * 14 = 20px
    line-height: 1.2; // *20 = 24px
    color: $cSubTitleText;
}

.intro header p + p {
    margin-bottom: 12px;
}

.intro header input {
    width: 100%;
    margin-bottom: 16px;
    padding: 6px 12px;
    line-height: 1.43; // * 14( font-size ) = 20px
    font-weight: 600;
    color: $cTitleText;
    background-color: $cDecorativeLines;
    background-image: $gradIntroButtonBackground;
    border: 1px solid $cIntroButtonBorder;
    border-radius: 3px;
    &:hover {
            background-color: $cHeaderSearchBorder;
            background-image: $gradIntroButtonHoverBackground;
            border-color: $cFooterHomeLink;
    }
    &:focus {
            outline: none;
            box-shadow: 0 0 5px $cHeaderSearchShadowFocus;
            &:hover {
                border-color: $cHeaderSearchBorderFocus;
            }
    }
    &:active {
            background-color: $cIntroButtonActiveBackground;
            background-image: none;
            border-color: $cIntroButtonActiveBorder;
            box-shadow: inset 0 2px 4px $cHeaderDropDownBorder;
    }
}

.others-info article {
    padding: 16px 0;
    color: $cTitleText;
}

.others-info h3 {
    font-size: 1.143rem;  // * 14 = 16px
    font-weight: 600;
    margin-bottom: 4px;
}

.others-info li p {
    display: inline-block;
}

.personal-info {
    border-top: 1px $cDecorativeLines solid;
    border-bottom: 1px $cHeaderBorder solid;
}

.personal-info li {
    padding-top: 5px;
    padding-bottom: 2px;
    line-height: 1.3;
}

.personal-info svg {
    width: 14px;
    margin-right: 8px;
    color: $cIntroIcons;
    vertical-align: top;
}

.personal-info .location svg {
    margin-top: 1px;
}

.personal-info .born svg {
    margin-top: -1px;
}

.personal-info .address svg {
    margin-top: 2px;
}

.personal-info .phone svg {
    margin-top: 2px;
}

.personal-info .mail svg {
    margin-top: 2px;
}

// .skills-info li {
//     margin: 2px 6px 2px 0;
//     @include setSpriteBase( "#{ $imgPath }sprite.png" );
// }
//
// .skills-info .html5-icon {
//     @include setSprite( 35px, 35px );
// }
//
// .skills-info .css3-icon {
//     @include setSprite( 35px, 35px, 1, 2 );
// }
//
// .skills-info .js-icon {
//     @include setSprite( 35px, 35px, 1, 3 );
// }
//
// .skills-info .php-icon {
//     @include setSprite( 35px, 35px, 1, 4 );
// }
//
// .skills-info .sass-icon {
//     @include setSprite( 35px, 35px, 1, 5 );
// }
//
// .skills-info .node-icon {
//     @include setSprite( 35px, 35px, 1, 6 );
// }
//
// .skills-info .gulp-icon {
//     @include setSprite( 35px, 35px, 2, 1 );
// }
//
// .skills-info .grunt-icon {
//     @include setSprite( 35px, 35px, 2, 2 );
// }
//
// .skills-info .ajax-icon {
//     @include setSprite( 35px, 35px, 2, 3 );
// }
//
// .skills-info .vagrant-icon {
//     @include setSprite( 35px, 35px, 2, 4 );
// }
//
// .skills-info .bootstrap-icon {
//     @include setSprite( 35px, 35px, 2, 5 );
// }

.skills-info li {
    display: inline-block;
    margin: 2px 6px 2px 0;
    overflow: hidden;
}

.intro {
    position: relative;
}

.intro header {
    position: relative;
    z-index: 2;
    background-color: $cMainBackground;
}

.others-info {
    width: 230px;
    z-index: 1;
}

.intro .hide {
    position: absolute;
    bottom: 0;
    transition: all 1.5s ease-in-out;
    transform: translateY( 0 );
}

.intro .show {
    position: relative;
    top: -354px;
    transition: all 1.5s ease-in-out;
    transform: translateY( 354px );
}
