// Intro specific styles

.intro li, .intro p, .intro strong, .intro b {
    display: block;
}

.intro header img {
    border-radius: 6px;
    vertical-align: middle;
}

.intro header img + p {
    padding: 16px 0;
}

.intro header strong {
    font-size: 1.857rem; // * 14 = 26px
    line-height: 1.153; // *26 = 30px
    font-weight: 600;
    color: $cTitleText;
}

.intro header b {
    font-size: 1.429rem; // * 14 = 20px
    line-height: 1.2; // *20 = 24px
    color: $cSubTitleText;
}

.intro header p + p {
    margin-bottom: 12px;
}

.intro header input {
    width: 100%;
    margin-bottom: 16px;
    padding: 6px 12px;
    line-height: 1.43; // * 14( font-size ) = 20px
    font-weight: 600;
    color: $cTitleText;
    background-color: $cDecorativeLines;
    background-image: $gradHeaderButtonBackground;
    border: 1px solid $cHeaderButtonBorder;
    border-radius: 3px;
    &:hover {
            background-color: $cHeaderSearchBorder;
            background-image: $gradHeaderButtonHoverBackground;
            border-color: $cFooterHomeLink;
    }
    &:focus {
            outline: none;
            box-shadow: 0 0 5px $cHeaderSearchShadowFocus;
            &:hover {
                border-color: $cHeaderSearchBorderFocus;
            }
    }
    &:active {
            background-color: $cHeaderButtonActiveBackground;
            background-image: none;
            border-color: $cHeaderButtonActiveBorder;
            box-shadow: inset 0 2px 4px $cHeaderDropDownBorder;
    }
}

.others-info article {
    padding: 16px 0;
    color: $cTitleText;
}

.others-info article:first-child {
    border-top: 1px $cDecorativeLines solid;
    border-bottom: 1px $cHeaderBorder solid;
}

.others-info article h3 {
    font-size: 1.143rem;  // * 14 = 16px
    font-weight: 600;
}
