// Overview specific styles

.overview {
    margin-top: 1.71429rem;
}

.pinned-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pinned-skill {
    display: flex;
    flex-direction: column;
    width: 23.21429rem;  // 359px ( from original web site ) - ( 2*16px ) - ( 2*1px )
    padding: 1.14286rem;
    margin-bottom: 1.14286rem;
    border: 1px solid $cHeaderSearchBorder;
    border-radius: 3px;
}

.pinned-skill a {
    font-weight: 600;
}

.pinned-skill p, .pinned-skill ol {
    font-size: .85714em;
}

.pinned-skill p {
    flex: 1 0 auto;
    margin: .57143rem 0 1.14286rem 0;
}

.pinned-skill li {
    display: inline;
}

.pinned-skill li svg {
    vertical-align: text-bottom;
}

.pinned-skill ol li:not( :last-child ) {
    margin-right: 1.14286rem;
}

.pin-decoration:before {
    display: inline-block;
    width: .85714rem;
    height: .85714rem;
    position: relative;
    top: .07143rem;
    margin-right: .21429rem;
    content: "";
    border-radius: 50%;
}

.html-deco:before {
    background-color: $cPinnedSkillsDecorationHTML;
}

.css-deco:before {
    background-color: $cPinnedSkillsDecorationCSS;
}

.js-deco:before {
    background-color: $cPinnedSkillsDecorationJS;
}

.php-deco:before {
    background-color: $cPinnedSkillsDecorationPHP;
}

.sql-deco:before {
    background-color: $cPinnedSkillsDecorationSQL;
}

.adobe-deco:before {
    background-color: $cPinnedSkillsDecorationAdobe;
}

.invision-deco:before {
    background-color: $cPinnedSkillsDecorationInVision;
}

.wai-deco:before {
    background-color: $cPinnedSkillsDecorationWAI;
}

.caniuse-deco:before {
    background-color: $cPinnedSkillsDecorationCanIuse;
}

.autoprefix-deco:before {
    background-color: $cPinnedSkillsDecorationAutoprefixer;
}

.node-deco:before {
    background-color: $cPinnedSkillsDecorationNodeJS;
}

.wp-deco:before {
    display: none;
}

.wp-deco svg {
    margin-bottom: .07143rem;
}
