// Projects specific styles

.projects h2 {
    margin-bottom: -.42857rem;
}

.projects form {
    padding: 1.14286rem 0;
    border-bottom: 1px solid $cHeaderSearchBorder;
}

.projects-search {
    width: 34.28571rem;
    height:2.42857rem;
    padding: .42857rem .57143rem;
    color: $cTitleText;
    background-color: $cMainBackground;
    border: 1px solid $cHeaderSearchBorder;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px $cProjectsSearchShadow;
    &:focus {
        outline: none;
        border-color: $cProjectsSearchFocusBorder;
        box-shadow: inset 0 1px 2px $cProjectsSearchShadow,
                    0 0 0 0.2em $cHeaderSearchShadowFocus;
    }
}

.projects input::-webkit-input-placeholder {
   color: $cProjectsSearchPlaceHolder;
}

.projects input:-moz-placeholder { /* Firefox 18- */
   color: $cProjectsSearchPlaceHolder;
}

.projects input::-moz-placeholder {  /* Firefox 19+ */
   color: $cProjectsSearchPlaceHolder;
}

.projects input:-ms-input-placeholder {
   color: $cProjectsSearchPlaceHolder;
}

.projects .projects-submit {
    margin-left: 1.71429rem;
    padding: .42857rem .85714rem;
    color: $cProjectsSearchButton;
}

.projects-main-list > li {
    position: relative;
    padding: 1.71429rem 13.57143rem 1.71429rem 0;
    border-bottom: 1px solid $cHeaderSearchBorder;
}

.projects-main-list > li a {
    display: inline-block;
    margin-bottom: .28571rem;
    font-size: 1.42857em;
    font-weight: 600;
}

.projects-main-list p {
    margin-bottom: 1.14286rem;
}

.project-activity {
    position: absolute;
    top: 3.3em;
    right: 0;
}

.projects-main-list ol li {
    display: inline-block;
    font-size: .85714em;
}

.projects-main-list ol li:not( :last-child ) {
    margin-right: 1.14286rem;
}

.projects-main-list ol li svg {
    vertical-align: text-bottom;
}
