// Timeline specific styles

.timeline {
    position: relative;
}

.timeline nav {
    position: absolute;
    top: 0;
    right: 0;
    font-size: .85714em;
    @include clearFix;
}

.categories-nav {
    float: right;
    padding-left: 16px;
}

.categories-nav a {
    display: block;
    width: 70px;
    margin-bottom: 8px;
    padding: 8px 16px;
    color: $cLaborText;
    border-radius: 3px;
    text-decoration: none;
    &:hover {
        background-color: $cTimelineCatNavHover;
    }
}

.categories-nav .active a {
    color: $cMainBackground;
    background-color: $cLink;
}

.timeline .dropdown > a {
    padding: 8px 16px;
    color: $cLaborText;
    &:after {
        margin-left: 3px;
        border: 4px solid transparent;
        border-top-color: $cLaborText;
        vertical-align: -2px;
    }
}

.timeline .dropdown:hover > a, .timeline .dropdown:focus > a {
    color: $cLink;
    &:after {
        border-top-color: $cLink;
    }
}

.timeline .dropdown-content {
    width: 160px;
    margin-top: 30px;
    font-size: 1rem;
}

table, tbody, tr, th, td {
    display: block;
}

.timeline table {
    margin-top: 20px;
    margin-right: 134px; // 102 + 16 + 16
}

.timeline tbody {
    position: relative;
    margin-left: 16px;
    border-left: 3px solid $cTimelineTableBorder;
}

.timeline tbody:first-child {
    border-top: 1px solid $cTimelineTableBorder;
}

.timeline tbody:last-child {
    border-bottom: 1px solid $cTimelineTableBorder;
}

.timeline tr {
    padding: 24px 0 24px 24px;
    border-top: 1px solid $cTimelineTableBorder;
    border-bottom: 1px solid $cTimelineTableBorder;
}

.timeline .table-section-header {
    border: 0;
}

.timeline .table-section-header {
    position: absolute;
    top: -15px;
    left: -16px;
    padding: 0 8px 0 0; // 0 are important to overhide the padding of .timeline tr {24px, ...}
    font-size: .85714em;
    font-weight: 600;
    color: $cTitleText;
    background-color: $cMainBackground;
}

.table-skill-header {
    font-size: 1.14286em;
    text-align: left;
    position: relative;
}

.table-skill-header .table-row {
    display: block;
    cursor: pointer;
    @include clearFix;
    overflow: hidden;
    &:hover {
        color: $cLink;
    }
}

.timeline th, .timeline p {
    padding: 4px 0;
}

.timeline table svg {
    vertical-align: text-bottom;
}

.table-skill-header .table-row svg {
    float: right;
    margin: 6px 0 0 16px;
}

.table-skill-header .table-icon-row {
    width: 29px;
    height: 29px;
    position: absolute;
    top: -1px;
    left: -41px;  // 24 padding + 32/2 width span + 2/2 border tbody
    line-height: 24px;
    background-color: $cTimelineTableIconRow;
    border: 2px solid $cMainBackground;
    border-radius: 50%;
    text-align: center;
}

.timeline td p {
    margin-right: 30px;
    padding-left: 24px;
}

.timeline td p svg {
    padding-right: 4px;
    margin-left: -24px;
}

.timeline .table-description svg {
    padding-left: 4px;
    color: $cTimelineDescriptionIcon;
}

.timeline .table-location svg {
    color: $cTimelineLocationIcon;
    vertical-align: -2px;
}

.timeline .table-star {
    text-align: right;
}

.timeline .table-star svg {
    padding-left: 2px;
    color: $cTimelineStarIcon;
    vertical-align: -2px;
}

// styles induce by .categories-nav.sticky
.timeline .sticky {
    margin-top: 10px;
    margin-left: 86px;
    top: 62.4px;  // height of .content-nav
}

.sticky + .dropdown {
    margin-right: 118px; // width + margin of sticky el
}

.sticky-bottom-section {
    position: absolute;
    margin-top: 8px;
    margin-left: -32px;
}

// Add some styles to the section when js supported only
.timeline.tabs-nav-layout-activated {
    top: 24px;
    padding-top: 24px;
}
