// Timeline specific styles

.timeline {
    position: relative;
}

.timeline nav {
    position: absolute;
    top: 0;
    right: 0;
    font-size: .85714em;
    @include clearFix;
}

.categories-nav {
    float: right;
    padding-left: 1.14286rem;
}

.categories-nav a {
    display: block;
    width: 5rem;
    margin-bottom: .57143rem;
    padding: .57143rem 1.14286rem;
    color: $cLaborText;
    border-radius: 3px;
    text-decoration: none;
    &:hover {
        background-color: $cTimelineCatNavHover;
    }
}

.categories-nav .active a {
    color: $cMainBackground;
    background-color: $cLink;
}

.timeline .dropdown > a {
    padding: .57143rem 1.14286rem;
    color: $cLaborText;
    &:after {
        margin-left: .21429rem;
        border: 4px solid transparent;
        border-top-color: $cLaborText;
        vertical-align: -.14286rem;
    }
}

.timeline .dropdown:hover > a, .timeline .dropdown:focus > a {
    color: $cLink;
    &:after {
        border-top-color: $cLink;
    }
}

.timeline .dropdown-content {
    width: 11.42857rem;
    margin-top: 2.14286rem;
    font-size: 1rem;
}

table, tbody, tr, th, td {
    display: block;
}

.timeline table {
    margin-top: 1.42857rem;
    margin-right: 9.57143rem; // 102 + 16 + 16
}

.timeline tbody {
    position: relative;
    margin-left: 1.14286rem;
    border-left: 3px solid $cTimelineTableBorder;
}

.timeline tbody:first-child {
    border-top: 1px solid $cTimelineTableBorder;
}

.timeline tbody:last-child {
    border-bottom: 1px solid $cTimelineTableBorder;
}

.timeline tr {
    padding: 1.71429rem 0 1.71429rem 1.71429rem;
    border-top: 1px solid $cTimelineTableBorder;
    border-bottom: 1px solid $cTimelineTableBorder;
}

.timeline .table-section-header {
    border: 0;
}

.timeline .table-section-header {
    position: absolute;
    top: -1.07142rem;
    left: -1.14286rem;
    padding: 0 .57143rem 0 0; // 0 are important to overhide the padding of .timeline tr {24px, ...}
    font-size: .85714em;
    font-weight: 600;
    color: $cTitleText;
    background-color: $cMainBackground;
}

.table-skill-header {
    font-size: 1.14286em;
    text-align: left;
    position: relative;
}

.table-skill-header .table-row {
    display: block;
    cursor: pointer;
    @include clearFix;
    overflow: hidden;
    &:hover {
        color: $cLink;
    }
}

.timeline th, .timeline p {
    padding: .28571rem 0;
}

.timeline table svg {
    vertical-align: text-bottom;
}

.table-skill-header .table-row svg {
    float: right;
    margin: .42857rem 0 0 1.14286rem;
}

.table-skill-header .table-icon-row {
    width: 2.07143rem;
    height: 2.07143rem;
    position: absolute;
    top: -.07143rem;
    left: -2.92857rem;  // 24 padding + 32/2 width span + 2/2 border tbody
    line-height: 1.71429rem;
    background-color: $cTimelineTableIconRow;
    border: 2px solid $cMainBackground;
    border-radius: 50%;
    text-align: center;
}

.timeline td p {
    margin-right: 2.14286rem;
    padding-left: 1.71429rem;
}

.timeline td p svg {
    padding-right: .28571rem;
    margin-left: -1.71429rem;
}

.timeline .table-description svg {
    padding-left: .28571rem;
    color: $cTimelineDescriptionIcon;
}

.timeline .table-location svg {
    color: $cTimelineLocationIcon;
    vertical-align: -.14286rem;
}

.timeline .table-star {
    text-align: right;
}

.timeline .table-star svg {
    padding-left: .14286rem;
    color: $cTimelineStarIcon;
    vertical-align: -.14286rem;
}

// styles induce by .categories-nav.sticky
.timeline .sticky {
    margin-top: .71429rem;
    margin-left: 6.14286rem;
}

.sticky + .dropdown {
    margin-right: 8.42857rem; // width + margin of sticky el
}

.sticky-bottom-section {
    position: absolute;
    margin-top: .57143rem;
    margin-left: -2.28571rem;
}

// Add some styles to the section when js supported only
.timeline.tabs-nav-layout-activated {
    top: 1.71429rem;
    padding-top: 1.71429rem;
}

@media screen and (max-width: $sFirstReduce) and (min-width: $sIntroSecondReduce) {
    // .tabs-layout is only on main container if we are in tabs nav layout, in one page layout the margin top is only required on first section (overview)
    .tabs-layout .timeline {
        margin-top: (1.71429rem - 13.05714rem);
    }
}

@media screen and (max-width: $sIntroSecondReduce) {
    .tabs-layout .timeline {
        margin-top: 3.71429rem;
    }
}

@media screen and (max-width: $sTimelineFirstReduce) {
    .tabs-layout .timeline {
        margin-top: 0;
    }

    .timeline nav {
        position: relative;

    }

    .timeline .categories-nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        float: none;
        padding-left: 0;
    }

    .timeline .categories-nav li {
        margin: .3rem;
    }

    .timeline .categories-nav.sticky {
        position: relative;
        width: auto;
        left: 0;
        right: 0;
        margin: 0;
    }

    .timeline .dropdown {
        float: right;
    }
}
