// Global colors variables

// Backgrounds colors
$cMainBackground: #FFF;
$cHeaderBackground: #F5F5F5;
$gradIntroButtonBackground: linear-gradient( #FCFCFC, #EEE );
$gradIntroButtonHoverBackground: linear-gradient( #EEE, #DDD );
$cIntroButtonActiveBackground: #DCDCDC;

// Texts colors
$cTitleText: #333;
$cSubTitleText: #666;
$cLaborText: #767676;
$cLink: #4078C0;
$cFooterHomeLink: #CCC;
$cFooterHomeLinkHover: #BBB;

// Borders colors
$cHeaderBorder: #E5E5E5;
$cHeaderSearchBorder: #DDD;
$cHeaderSearchBorderFocus: #51A7E8;
$cHeaderDropDownBorder: rgba( 0, 0, 0, 0.15 );
$cIntroButtonBorder: #D5D5D5;
$cIntroButtonActiveBorder: #B5B5B5;
$cContentNavSelectedBorder: #C9510C;

// Shadows colors
$cHeaderSearchShadow: rgba( 0, 0, 0, 0.075 );
$cHeaderSearchShadowFocus: rgba( 81, 167, 232, 0.5 );

// Others colors
$cHeaderSearchPlaceHolder: #CBCBCB;
$cDecorativeLines: #EEE;
$cIntroIcons: #999;
