// Global colors variables

// Backgrounds colors
$cMainBackground: #FFF;
$cHeaderBackground: #24292E;
$cHeaderSearchBackground: #3F4347;
$cHeaderSearchBackgroundFocus: lighten( $cHeaderSearchBackground, 4% );
$gradIntroButtonBackground: linear-gradient( #FCFCFC, #EEE );
$gradIntroButtonHoverBackground: linear-gradient( #EEE, #DDD );
$cIntroButtonActiveBackground: #DCDCDC;

// Texts colors
$cHeaderLink: rgba( 255,255,255,0.75 );
$cTitleText: #24292E;
$cHeaderDropDownHeader: lighten( $cTitleText, 20% );
$cSubTitleText: #666;
$cLaborText: #767676;
$cLink: #4078C0;
$cFooterHomeLink: #CCC;
$cFooterHomeLinkHover: #BBB;

// Borders colors
$cHeaderBorder: #E5E5E5;
$cHeaderSearchBorder: #DDD;
$cHeaderSearchBorderFocus: #51A7E8;
$cHeaderDropDownBorder: rgba( 0, 0, 0, 0.15 );
$cIntroButtonBorder: #D5D5D5;
$cIntroButtonActiveBorder: #B5B5B5;
$cContentNavSelectedBorder: #C9510C;

// Shadows colors
$cHeaderSearchShadow: rgba( 0, 0, 0, 0.075 );
$cHeaderSearchShadowFocus: rgba( 81, 167, 232, 0.5 );

// Others colors
$cHeaderSearchPlaceHolder: #8B8E90;
$cDecorativeLines: #EEE;
$cIntroIcons: #999;
