// Global colors variables

// Backgrounds colors
$cMainBackground: #FFF;
$cHeaderBackground: #24292E;
$cHeaderSearchBackground: #3F4347;
$cHeaderSearchBackgroundFocus: lighten( $cHeaderSearchBackground, 4% );
$gradIntroButtonBackground: linear-gradient( #FCFCFC, #EEE );
$gradIntroButtonHoverBackground: linear-gradient( #EEE, #DDD );
$cIntroButtonHoverBackground: #DDD;
$cIntroButtonActiveBackground: #E9ECEF;
$cContentNavCountBackground: rgba( 27, 31, 35, 0.08 );
$cTimelineCatNavHover: #EAECEF;

// Texts colors
$cHeaderLink: rgba( 255, 255, 255, 0.75 );
$cTitleText: #24292E;
$cLaborText: #586069;
$cSubTitleText: #666;
$cLink: #0366D6;
$cFooterHomeLink: #CCC;
$cFooterHomeLinkHover: #BBB;
$cHeaderSearchPlaceHolder: #8B8E90;
$cProjectsSearchPlaceHolder: #BCC0C5;
$cProjectsSearchButton: #787C80;

// Borders colors
$cHeaderBorder: #E5E5E5;
$cHeaderSearchBorder: #D1D5DA;
$cHeaderDropDownBorder: rgba( 0, 0, 0, 0.15 );
$cIntroButtonBorder: #D5D5D5;
$cIntroButtonHoverBorder: rgba( 27, 31, 35, 0.35 );
$cIntroButtonFocusBorder: #51A7E8;
$cContentNavSelectedBorder: #C9510C;
$cTimelineTableBorder: #F6F8FA;
$cProjectsSearchFocusBorder: #2188FF;

// Shadows colors
$cHeaderSearchShadow: rgba( 0, 0, 0, 0.075 );
$cHeaderSearchShadowFocus: rgba( 3, 102, 214, 0.3 );
$cIntroButtonActiveShadow: rgba( 27, 31, 35, 0.15 );
$cProjectsSearchShadow: rgba( 27, 31, 35, 0.075 );

// Others colors
$cDecorativeLines: #EEE;
$cIntroIcons: #999;
$cPinnedSkillsDecorationHTML: #E34C26;
$cPinnedSkillsDecorationCSS: #563D7C;
$cPinnedSkillsDecorationJS: #F1E05A;
$cPinnedSkillsDecorationPHP: #4F5D95;
$cPinnedSkillsDecorationSQL: #244776;
$cPinnedSkillsDecorationAdobe: #CC0332;
$cPinnedSkillsDecorationInVision: #6F42C1;
$cPinnedSkillsDecorationWAI: #196127;
$cPinnedSkillsDecorationCanIuse: #28A745;
$cPinnedSkillsDecorationAutoprefixer: #4A90E2;
$cPinnedSkillsDecorationNodeJS: #89E051;
$cTimelineTableIconRow: #E6EBF1;
$cTimelineLocationIcon: #28A745;
$cTimelineDescriptionIcon: #6F42C1;
$cTimelineStarIcon: #F1E05A;
